name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
        cache: 'npm'
        cache-dependency-path: ./frontend-react/package-lock.json
    - name: Install dependencies
      working-directory: ./frontend-react
      run: npm ci
    - name: Install Playwright Browsers
      working-directory: ./frontend-react
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      working-directory: ./frontend-react
      run: npx playwright test
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: frontend-react/playwright-report/
        retention-days: 30
